{% extends 'base.html' %}
{% block title %}Post News{% endblock %}


{% block content %}
    <h1>Post News</h1>
    <div style="margin-bottom: 100px">
        <h2>{{ news_db.title }}</h2>
        <p>{{ news_db.news_content }}</p>
        <p>{{ news_db.created_at }}</p>
        <a href="{% url "news:update" news_id=news_db.id %}">Update</a>
    </div>
    <h2>Comments</h2>
    {% if user.is_authenticated %}
        <form method="post" action="{% url 'news:detail' news_db.id %}">
            {% csrf_token %}
            <input name="comment" placeholder="Comment place" required>
            <input type="submit" value="Send">
        </form>
    {% else %}
        <h1>Only authenticated user can send comment</h1>
    {% endif %}
    <div style="padding-top: 25px">
        {% for comment in comments %}
            <p>{{ comment.user }}</p>
            <p>{{ comment.comment_content }}</p>
            <p>{{ comment.created_at }}</p>
            {% if request.user == comment.user %}
                <form method="POST" action="{% url 'news:delete_comment' comment.id %}">
                    {% csrf_token %}
                    <button type="submit">Delete Comment</button>
                </form>
            {% endif %}
            <hr>
        {% endfor %}
    </div>
{% endblock %}